<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Libra</title>

	@*@Scripts.Render("~/bundles/modernizr")
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/dataTables.dataTables.css")*@

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@*@Scripts.Render("~/bundles/popper")*@
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/dataTables")
	@Scripts.Render("~/bundles/jqueryval")
	@*@Styles.Render("//cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css");*@
	@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
</head>
<body>
	@*<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
					</button>
					<span>Libra Web App</span>
				</div>
				<div class="navbar-collapse collapse">

				</div>
			</div>
		</div>*@
	<div>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand">Libra</a>
				<form class="d-flex">
					@*<input class="form-control me-2" type="search" placeholder="Logout" aria-label="Search">*@
					<button class="btn btn-outline-danger" type="submit">Logout</button>
				</form>
			</div>
		</nav>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Libra</p>
		</footer>
	</div>
	@*@Scripts.Render("~/bundles/jquery")*@
	@*@Scripts.Render("~/bundles/bootstrap")*@
	@*//@if (BundleTable.Bundles.GetBundleFor("~/bundles/bootstrap") != null)*@

	@*@Scripts.Render("~/bundles/bootstrap")

		@Scripts.Render("~/bundles/dataTables.dataTables.js")*@
	@RenderSection("scripts", required: false)
	@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
	@*<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>*@
</body>
</html>
