@{
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<h3>Add User</h3>

@model LibraBll.DTOs.UserDTO

@using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { id = "AddUserForm" }))
{
    <div class="card">
        <div class="card-header" style="background-color: lightgray">
            User Information
        </div>
        <div class="card-body">

             <div class="row">
                 <div class="col-md-5">
                     <label for="inputUserName" class="form-label">User Name</label>
                     <div class="input-group">
                         <div class="input-group-text"><i class="fas fa-user"></i></div>
                         @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "inputUserName" })
                     </div>
                 </div>
                 <div class="col-md-4">
                     <label for="inputPassword" class="form-label">Password</label>
                     <div class="input-group">
                         <div class="input-group-text"><i class="fas fa-key"></i></div>
                         @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "inputPassword", type = "password" })
                     </div>
                 </div>
             </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="inputLogin" class="form-label">Login</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="fas fa-arrow-right"></i></div>
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "inputLogin" })
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="inputEmail" class="form-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "inputEmail", type = "email", placeholder="email@example.com" })
                    </div>
                </div>
            </div>
            <div class="row-cols-md-5">
                <label for="inputTelephone" class="form-label">Telephone</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="fas fa-phone"></i></div>
                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", id = "inputTelephone" })
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 20px;">
                <label for="inputState" class="form-label">Role</label>
                @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "Administrator", "Technical User", "User" }), "Select Role", new { @class = "form-select", id = "inputState" })
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start">

        @*<button type="submit" class="btn btn-primary">Add User</button>*@
        <button type="submit" class="btn btn-primary mr-2" onclick="resetForm()">Add User</button>
        @*<button type="submit" class="btn btn-primary">Add User</button>*@
        @*<button type="reset" class="btn btn-dark" onclick="hideFormElements()">Reset</button>*@
        <button type="reset" class="btn btn-dark" onclick="resetForm()">Reset</button>
    </div>

    @*<script>
            function hideFormElements() {
                var form = document.getElementById("AddUserForm");
                var elements = form.elements;

                for (var i = 0; i < elements.length; i++) {
                    elements[i].style.display = "none";
                }
            }
        </script>*@

}

<script>
    function resetForm() {
        var form = document.getElementById("AddUserForm");
        form.reset();
    }
</script>