@{
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h3>Add User</h3>

@model LibraBll.DTOs.UserDTO

@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
	<div>
		@Html.LabelFor(model => model.Name)
		@Html.EditorFor(model => model.Name)
	</div>
	<div>
		@Html.LabelFor(model => model.Email)
		@Html.EditorFor(model => model.Email)
	</div>
	<div>
		@Html.LabelFor(model => model.Login)
		@Html.EditorFor(model => model.Login)
	</div>
	<div>
		@Html.LabelFor(model => model.Password)
		@Html.EditorFor(model => model.Password)
	</div>
	<div>
		@Html.LabelFor(model => model.Telephone)
		@Html.EditorFor(model => model.Telephone)
	</div>
	<div>
		@Html.LabelFor(model => model.Role)
		@Html.DropDownListFor(model => model.Role, new SelectList(new List<string> { "Administrator", "Technical User", "User" }), "Select a role")
	</div>

	<input type="submit" value="Add User" />
}