@{
    Layout = null;
}

@model LibraBll.DTOs.Pos.PosGetDTO

@section scripts{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

@using (Html.BeginForm("GetPosById", "Pos", FormMethod.Get, new { id = "PosDetailsForm" }))
{
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pos Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
                <label for="inputPosModel" class="form-label">Pos Name</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
            <div class="col-md-5">
                <label for="inputTelephone" class="form-label">Telephone</label>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="inputCellphone" class="form-label">Cellphone</label>
                @Html.TextBoxFor(model => model.Cellphone, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
            <div class="col-md-5">
                <label for="inputCity" class="form-label">City</label>
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>

        @*<div>
            <label for="inputCellphone" class="form-label">Cellphone</label>
            @Html.TextBoxFor(model => model.Cellphone, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
        </div>
        <div>
            <label for="inputCity" class="form-label">City</label>
            @Html.TextBoxFor(model => model.City, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
        </div>*@


        <div class="row">
            <div class="col-md-5">
                <label for="inputModel" class="form-label">Model</label>
                @Html.TextBoxFor(model => model.Model, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
            <div class="col-md-5">
                <label for="inputBrand" class="form-label">Brand</label>
                @Html.TextBoxFor(model => model.Brand, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label for="inputMorningProgram" class="form-label">Morning Program</label>
                @Html.TextBoxFor(model => model.MorningProgram, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
            <div class="col-md-5">
                <label for="inputAfternoonProgram" class="form-label">Afternoon Program</label>
                @Html.TextBoxFor(model => model.AfternoonProgram, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="inputAddress" class="form-label">Address</label>
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="inputDaysClosed" class="form-label">Days Closed</label>
                @Html.TextBox("DaysClosed", string.Join(", ", Model.DaysClosed), new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
    </div>
}